/.venv
/aoi.dbf
/aoi.prj
/aoi.shp
/aoi.shx
/buff_contour.gpkg
/layout_trifft.qpt
/muri
/smoothed_buff_contour.gpkg
/spiegel
/swissalti3d_2019_2671-1169_0.5_2056_5728.tif
/swissalti3d_aoi.tif
/swissalti3d_aoi.tif.aux.xml
/swissalti3d_buff.tif
/swissalti3d_buff.tif.aux.xml
/swissalti3d_data
/trift.dxf
/trift.pdf
/trift.pgw
/trift.png
/trift.qmd
